.header {
    background: none;
    height: 123px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    transition-timing-function: ease-in;
    transition: all 0.2s;
    object-fit: cover;
    z-index: 100;
}

.sticky {
    position: fixed;
    top: 0px;
}

.text-buttons {
    font-size: 25px;
    margin-left: 50px;
    cursor: pointer;
}

.text-buttons:hover {
    color: #639;
}

.logo {
    margin-left: 120px;
    height: 123px;
    transition-timing-function: ease-in;
    transition: all 0.2s;
}

.login-btn {
    box-sizing: border-box;
    min-height: 45px;
    min-width: 118px;
    font-size: 14px;
    font-weight: 500;
    padding: 0 35px;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
    border-radius: 24px;
    color: #639;
    box-shadow: none;
    border: 2px solid #639;
    background: none;
    margin-left: 50px;
}

.login-btn:hover {
    color: #fff;
    background: #639;
}

.start-btn:hover {
    background: #639;
}

.start-btn {
    box-sizing: border-box;
    min-height: 45px;
    min-width: 166px;
    font-size: 14px;
    font-weight: 500;
    padding: 0 35px;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
    border-radius: 24px;
    color: #fff;
    box-shadow: none;
    border: none;
    background: linear-gradient(90deg, #9f62c9, #639);
    margin-left: 24px;
    margin-right: 132px;
}

.white-bg {
    background: #fff;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 10%);
    height: 80px;
}

.small-logo-size {
    transform: scale(0.7);
}

@media only screen and (min-width: 1366px) and (max-width: 1900px) {
    .header {
        height: 82px;
    }
    .logo {
        margin-left: 80px;
        height: calc(123px / 1.5);
    }
    .login-btn {
        min-height: calc(45px / 1.5);
        min-width: calc(118px / 1.5);
        font-size: calc(14px / 1.5);
        padding: 0 calc(35px / 1.5);
        border-radius: calc(24px / 1.5);
        margin-left: calc(50px / 1.5);
    }
    .white-bg {
        height: calc(80px / 1.5);
    }
    .start-btn {
        min-height: calc(45px / 1.5);
        min-width: calc(166px / 1.5);
        font-size: calc(14px / 1.5);
        padding: 0 calc(35px / 1.5);
        border-radius: calc(24px / 1.5);
        margin-left: calc(24px / 1.5);
        margin-right: calc(132px / 1.5);
    }
    .text-buttons {
        font-size: calc(25px / 1.5);
        margin-left: calc(50px / 1.5);
        cursor: pointer;
    }
}

@media screen and (min-width: 2530px) {
    .header {
        height: calc(123px * 1.5);
    }
    .logo {
        margin-left: calc(120px * 1.5);
        height: calc(123px * 1.5);
    }
    .login-btn {
        min-height: calc(45px * 1.5);
        min-width: calc(118px * 1.5);
        font-size: calc(14px * 1.5);
        padding: 0 calc(35px * 1.5);
        border-radius: calc(24px * 1.5);
        margin-left: calc(50px * 1.5);
    }
    .white-bg {
        height: calc(80px * 1.5);
    }
    .start-btn {
        min-height: calc(45px * 1.5);
        min-width: calc(166px * 1.5);
        font-size: calc(14px * 1.5);
        padding: 0 calc(35px * 1.5);
        border-radius: calc(24px * 1.5);
        margin-left: calc(24px * 1.5);
        margin-right: calc(132px * 1.5);
    }
    .text-buttons {
        font-size: calc(25px * 1.5);
        margin-left: calc(50px * 1.5);
    }
}
