<div class="container">
    <card-component class="card1" imgUrl="../../assets/images/get_paid_instantly.png"
        cardTitle="Quick cash disbursement" cardDesc="Get terms loans that your business needs within 72 hrs">
    </card-component>
    <card-component class="card2" imgUrl="../../assets/images/freelancer_feature_icon_6@1.5x.png"
        cardTitle="Ace your business finances"
        cardDesc="Manage banking, accounting & everything in between, on one platform"></card-component>
    <card-component class="card3" imgUrl="../../assets/images/Low_interest_rate.png" cardTitle="Low-interest rate"
        cardDesc="Achieve your financial goals with an amazing interest rate starting at 13% per annum">
    </card-component>
    <card-component class="card4" imgUrl="../../assets/images/Covid.png" cardTitle="Loans to fight COVID-19"
        cardDesc="Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh">
    </card-component>
    <card-component class="card5" imgUrl="../../assets/images/Secure_Payments.png" cardTitle="Zero Paperwork"
        cardDesc="Get started instantly by submitting only your basic details & bank statements">
    </card-component>
</div>