<div class="container">
    <img class="blob-small" src="../../assets/images/blob-small.svg" />
    <div class="simple-title">
        We make it Super Simple
    </div>
    <div class="underline-simple-title"></div>
    <img class="accounting-dots" src="../../assets/images/accounting_dots.svg" />
    <img class="collect-img" src="../../assets/images/collect_img-video.png" />
    <img class="big-circle-right" src="../../assets/images/circle.svg" />
    <img class="accounting-dots2" src="../../assets/images/accounting_dots.svg" />
    <img class="wave-bg" src="../../assets/images/sol_wave_bg.svg" />
    <div class="boost-title">
        Boost your business with Open
    </div>
    <div class="underline-boost-title"></div>
    <span class="loan-desc-txt">Get your hands on a term loan that's crafted for your business</span>
    <button class="acct-btn">Get an Open Account</button>
</div>