/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
    font-family: Montserrat;
    line-height: normal;
    margin: 0;
}

body {
    /* overflow-y: hidden; */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
.mat-accent .mat-slider-thumb {
    height: 30px;
    width: 30px;
    background-color: #639;
    border: solid 7px #fff;
    bottom: -15px;
    right: -15px;
}

.mat-slider:not(.mat-slider-disabled):not(.mat-slider-sliding) .mat-slider-thumb-label,
.mat-slider:not(.mat-slider-disabled):not(.mat-slider-sliding) .mat-slider-thumb {
    height: 30px;
    width: 30px;
    background-color: #639;
    border: solid 7px #fcfcff;
    bottom: -15px;
    right: -15px;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    background-color: #639;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #fff;
    border: solid 2px #639;
    box-sizing: border-box;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #639;
}
